<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cghdev.alfred-pritunl</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>6721A0DE-AD81-4256-9E22-6844B957FDB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11A7279F-1A67-487B-BDF9-51A555EA968B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94789E67-6ADD-475F-AC8F-7DFDE5E6F322</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8BDC705-34DD-4F7B-8F88-9C6707526162</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8BDC705-34DD-4F7B-8F88-9C6707526162</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>@deyavito</string>
	<key>description</key>
	<string>Manages Pritunl connections</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pritunl Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>.v</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Listing profiles...</string>
				<key>script</key>
				<string>./gotunl -l -s "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show Pritunl connections</string>
				<key>title</key>
				<string>Pritunl Manager</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>94789E67-6ADD-475F-AC8F-7DFDE5E6F322</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="$@"

./gotunl $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8BDC705-34DD-4F7B-8F88-9C6707526162</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.vdisconnect</string>
				<key>subtext</key>
				<string>↩ to disconnect all profiles</string>
				<key>text</key>
				<string>Disconnect all</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6721A0DE-AD81-4256-9E22-6844B957FDB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./gotunl -d all</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>11A7279F-1A67-487B-BDF9-51A555EA968B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11A7279F-1A67-487B-BDF9-51A555EA968B</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>6721A0DE-AD81-4256-9E22-6844B957FDB0</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>94789E67-6ADD-475F-AC8F-7DFDE5E6F322</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>C8BDC705-34DD-4F7B-8F88-9C6707526162</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
